 {{#each comments as |comment| }}
  <div class="comments">
    <hr>
  <section class="comment">
        <div class="text">
       <p>{{comment.comment_body}}</p>
    </div>
    <div class="meta" style="font-style: italic;">
       <p>{{user.name}} - {{format_date createdAt}}</p>
    </div>
  </section>
  <hr>

</div>
  {{/each}}

