
{{#each comments as |comment| }}
  <div class="comments">

  <section class="comment" id="comment">
    <div class="meta">
        Posted by
      {{comment.user.name}} 
      {{!-- on
      {{format_date comment.date_commented}} --}}
    </div>
    <div class="text">
      {{comment.comment_body}}
    </div>
  </section>

</div>
  {{/each}}