
  <div class="comments">

  <section class="comment" id="comment">
    <div class="meta">
        Posted by
      {{user.name}} 
      on
      {{format_date comment.date_created}}
    </div>
    <div class="text">
      {{comment.comment_body}}
    </div>
  </section>

</div>
